<%# Form test goes to integration test %>
<%# Make a new test file 'rails g integration_test users_signup' %>

<%# use 'privide to provide variables when using partials' %>
<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>

<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%# use render 'form' here %>
    <%= render 'form' %>
  </div>
</div>