<%# 'object' below is f.object from 'f' in a form %>
<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%# helper.pluralize(2, "woman") returns "2 women" %>
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%# Railsは、無効な内容で送信がされて元のページに戻されると、divで囲まれたエラー用のCSSクラスfield_with_errorsを返します %>